*.pyc
.DS_Store
.idea
output
*~
*.out
*.egg-info
*.ipynb_checkpoints
rocstory_plan_write
test
Word2Vec
glove.840B.300d.txt
iwslt
iwslt_small
keyword_data_small
activate.csh
venv
dialogu_small
dialogue
models
__hyp.txt
__ref.txt
roc_gen_result
output_lm
roc_gen_result_2
model_ckpt/bagorder/annealed
model_ckpt
word_embedding
